h1, h2 {
  text-align: center;
  font-family: 'Roboto Slab', serif;
}
body {
  background-color: rgb(180, 180, 180);
}

p {
  font-family: 'Roboto Slab', serif;
}


input {
  display: flex;
  width: 200px;
  height: 50;
  padding: 10px 15px;
  margin: 5px 5px;    
  flex-wrap: wrap;
}

.flex-container {
  display: grid;
  grid-template-columns: 40% 60%;
  /* display: flex; */
  padding: 7px 12px;
  /* justify-content: flex-start; */
}



.flex-container button {
  background-color: white;
  float: left;
  cursor: pointer;
  overflow: hidden;
  width: 120px;
  height: 45px;
  padding: 5px 10px;
  margin: 10px;
  transition: 0.3s;
  font-size: 17px;
  font-family: 'Roboto Slab', serif;
  font-weight: 50;
  border-color: lightskyblue;
}


.flex-container button:hover {
  background-color: rgb(159, 200, 226);
}

.flex-contents {
  display: grid;
  grid-template-columns: 60% 40%;
}

.dropdown {
  background-color: white;
  float: left;
  cursor: pointer;
  overflow: hidden;
  width: 170px;
  height: 45px;
  padding: 5px 10px;
  margin: 10px;
  transition: 0.3s;
  font-size: 17px;
  font-family: 'Roboto Slab', serif;
  font-weight: 50;
  border-color: lightskyblue;
}

#chart-container{
  display: flex;
  align-items: baseline;
  flex-direction: column;
  height: 98vh;
  width: 98vw;
  /* padding: 0 0; */
  padding-left: 50%;
  padding-top: none;
  /* align-content: center;
  justify-content: center; */
}

.row-container{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.card-container {
  flex: 0 0 auto;
  width: 50%;
  height: 75vh;
  border: none;
  padding: none;
}

.show-more-style {
  font-family: 'Roboto Slab', serif;
}

.main-tab-style {
  display: inline-flex;
  align-items: baseline;
}

#main-tab {
  background-color: rgb(100, 95, 95);
  font-family: 'Roboto Slab', serif;
  height: 100px;
}

#sec-tab {
  background-color: rgb(180, 180, 180);
  font-family: 'Roboto Slab', serif;
}

#map{
  height: 700px;
}
